{% extends "_base.html" %}

{% load static %}

{% block page_title %}Lists{% endblock page_title %}

{% block content %}
            <!-- Start main-content -->
            <main class="main-content dt-sl mb-3">
                <div class="container main-container">
                    <div class="compare">
                        <div class="compare-products">
                            <h4 class="compare-quick-title">لیست محصولات برای مقایسه</h4>
                            <!-- Start Product-Slider -->
                            <div class="product-carousel carousel-md owl-carousel owl-theme mb-3">
                                <div class="item">
                                    <div class="product-card">
                                        <div class="product-head">
                                            <div class="rating-stars">
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                            </div>
                                            <div class="discount">
                                                <span>20%</span>
                                            </div>
                                        </div>
                                        <a class="product-thumb" href="shop-single.html">
                                            <img src="{% static './assets/img/products/026.jpg' %}" alt="Product Thumbnail">
                                        </a>
                                        <div class="product-card-body">
                                            <h5 class="product-title">
                                                <a href="shop-single.html">گوشی موبایل سامسونگ مدل Samsung Galaxy S10 Plus
                                                    SM-G975F/DS دو سیم کارت ظرفیت 128 گیگابایت</a>
                                            </h5>
                                            <a class="product-meta" href="shop-categories.html">گوشی موبایل</a>
                                            <span class="product-price">3,157,000 تومان</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="product-card">
                                        <div class="product-head">
                                            <div class="rating-stars">
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                            </div>
                                        </div>
                                        <a class="product-thumb" href="shop-single.html">
                                            <img src="{% static './assets/img/products/027.jpg' %}" alt="Product Thumbnail">
                                        </a>
                                        <div class="product-card-body">
                                            <h5 class="product-title">
                                                <a href="shop-single.html">گوشی موبایل سامسونگ مدل Samsung Galaxy S10 Plus
                                                    SM-G975F/DS دو سیم کارت ظرفیت 128 گیگابایت</a>
                                            </h5>
                                            <a class="product-meta" href="shop-categories.html">گوشی موبایل</a>
                                            <span class="product-price">3,199,000 تومان</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="product-card">
                                        <div class="product-head">
                                            <div class="rating-stars">
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star"></i>
                                            </div>
                                        </div>
                                        <a class="product-thumb" href="shop-single.html">
                                            <img src="{% static './assets/img/products/028.jpg' %}" alt="Product Thumbnail">
                                        </a>
                                        <div class="product-card-body">
                                            <h5 class="product-title">
                                                <a href="shop-single.html">گوشی موبایل سامسونگ مدل Samsung Galaxy S10 Plus
                                                    SM-G975F/DS دو سیم کارت ظرفیت 128 گیگابایت</a>
                                            </h5>
                                            <a class="product-meta" href="shop-categories.html">گوشی موبایل</a>
                                            <span class="product-price">3,135,000 تومان</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="product-card">
                                        <div class="product-head">
                                            <div class="rating-stars">
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star active"></i>
                                                <i class="mdi mdi-star"></i>
                                            </div>
                                        </div>
                                        <a class="product-thumb" href="shop-single.html">
                                            <img src="{% static './assets/img/products/029.jpg' %}" alt="Product Thumbnail">
                                        </a>
                                        <div class="product-card-body">
                                            <h5 class="product-title">
                                                <a href="shop-single.html">گوشی موبایل سامسونگ مدل Samsung Galaxy S10 Plus
                                                    SM-G975F/DS دو سیم کارت ظرفیت 128 گیگابایت</a>
                                            </h5>
                                            <a class="product-meta" href="shop-categories.html">گوشی موبایل</a>
                                            <span class="product-price">3,145,000 تومان</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product-Slider -->
                            <h4 class="compare-quick-title">مشخصات کلی</h4>
                            <ul class="compare-quick-list">
                                <li>
                                    <div class="compare-list-title">
                                        ابعاد
                                    </div>
                                </li>
                                <li>
                                    <div class="compare-list-value"><span class="block">7.8 × 74.7 × 158.5 میلی‌متر</span>
                                    </div>
                                    <div class="compare-list-value"><span class="block">8.8 × 74.3 × 156.7 میلی‌متر</span>
                                    </div>
                                    <div class="compare-list-value"><span class="block">8.1 × 76.9 × 158.9 میلی‌متر</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="compare-list-title">
                                        توضیحات سیم کارت
                                    </div>
                                </li>
                                <li>
                                    <div class="compare-list-value"><span class="block">
                                            سایز نانو (8.8 × 12.3 میلی‌متر)
                                        </span></div>
                                    <div class="compare-list-value"><span class="block">
                                            سایز نانو (8.8 × 12.3 میلی‌متر)
                                        </span></div>
                                    <div class="compare-list-value"><span class="block">
                                            سایز نانو (8.8 × 12.3 میلی‌متر)
                                        </span></div>
                                </li>
                                <li>
                                    <div class="compare-list-title">
                                        وزن
                                    </div>
                                </li>
                                <li>
                                    <div class="compare-list-value"><span class="block">166 گرم</span></div>
                                    <div class="compare-list-value"><span class="block">191 گرم</span></div>
                                    <div class="compare-list-value"><span class="block">168 گرم</span></div>
                                </li>
                                <li>
                                    <div class="compare-list-title">
                                        ویژگی‌های خاص
                                    </div>
                                </li>
                                <li>
                                    <div class="compare-list-value"><span class="block">
                                            مناسب عکاسی
                                            , فبلت
                                            , مجهز به حس‌گر اثرانگشت
                                            , مناسب عکاسی سلفی
                                        </span></div>
                                    <div class="compare-list-value"><span class="block">
                                            مجهز به حس‌گر اثرانگشت
                                        </span></div>
                                    <div class="compare-list-value"><span class="block">
                                            مجهز به حس‌گر اثرانگشت
                                        </span></div>
                                </li>
                                <li>
                                    <div class="compare-list-title">
                                        تعداد سیم کارت
                                    </div>
                                </li>
                                <li>
                                    <div class="compare-list-value"><span class="block">
                                            دوسیم کارت
                                        </span></div>
                                    <div class="compare-list-value"><span class="block">
                                            دوسیم کارت
                                        </span></div>
                                    <div class="compare-list-value"><span class="block">
                                            دوسیم کارت
                                        </span></div>
                                </li>
                                <li>
                                    <div class="compare-list-title">
                                        ساختار بدنه
                                    </div>
                                </li>
                                <li>
                                    <div class="compare-list-value"></div>
                                    <div class="compare-list-value"><span class="block">قاب پشتی و جلویی از شیشه و فریمی از
                                            جنس آلومینیوم </span></div>
                                    <div class="compare-list-value"><span class="block">پلاستیک </span></div>
                                </li>
                            </ul>
                            <h4 class="compare-quick-title">پردازنده</h4>
                            <ul class="compare-quick-list">
                                <li>
                                    <div class="compare-list-title">
                                        تراشه
                                    </div>
                                </li>
                                <li>
                                    <div class="compare-list-value"><span class="block">Exynos 7904 (14 nm) Chipset </span>
                                    </div>
                                    <div class="compare-list-value"><span class="block">Qualcomm SDM730 Snapdragon 730 (8
                                            nm)
                                            Chipset </span></div>
                                    <div class="compare-list-value"><span class="block">Qualcomm SDM450 Snapdragon 450 (14
                                            nm) </span></div>
                                </li>
                                <li>
                                    <div class="compare-list-title">
                                        پردازنده‌ی مرکزی
                                    </div>
                                </li>
                                <li>
                                    <div class="compare-list-value"><span class="block">Dual--Core Cortex-A73 + Hexa-Core
                                            Cortex-A53 CPU </span></div>
                                    <div class="compare-list-value"><span class="block">Dual-core Kryo 470 Gold &amp;
                                            Hexa-Core Kryo 470 Silver CPU </span></div>
                                    <div class="compare-list-value"><span class="block">Octa-core Cortex-A53 </span></div>
                                </li>
                                <li>
                                    <div class="compare-list-title">
                                        نوع پردازنده
                                    </div>
                                </li>
                                <li>
                                    <div class="compare-list-value"><span class="block">
                                            64 بیت
                                        </span></div>
                                    <div class="compare-list-value"><span class="block">
                                            64 بیت
                                        </span></div>
                                    <div class="compare-list-value"><span class="block">
                                            64 بیت
                                        </span></div>
                                </li>
                                <li>
                                    <div class="compare-list-title">
                                        فرکانس پردازنده‌ی مرکزی
                                    </div>
                                </li>
                                <li>
                                    <div class="compare-list-value"><span class="block">1.6 و 1.8 گیگاهرتز</span></div>
                                    <div class="compare-list-value"><span class="block">2.2 و 1.8 گیگاهرتز</span></div>
                                    <div class="compare-list-value"><span class="block">1.8 گیگاهرتز</span></div>
                                </li>
                                <li>
                                    <div class="compare-list-title">
                                        پردازنده‌ی گرافیکی
                                    </div>
                                </li>
                                <li>
                                    <div class="compare-list-value"><span class="block">Mali-G71 MP2 GPU </span></div>
                                    <div class="compare-list-value"><span class="block">Adreno 618 GPU </span></div>
                                    <div class="compare-list-value"><span class="block">Adreno 506 </span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
            <!-- End main-content -->
{% endblock content %}